<a href="https://colab.research.google.com/github/Damneetsingh01/Week-8_FitBit_Tracker_Analysis/blob/main/FitBit_Tracker_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *Fitbit Consumer Behaviour Analysis*

**Content**

Respondents generated this dataset to a distributed survey via Amazon Mechanical Turk between 03.12.2016 and 05.12.2016. Thirty eligible Fitbit users consented to submit personal tracker data, including minute-level output for physical activity, heart rate, and sleep monitoring. Individual reports can be parsed by export session ID (column A) or timestamp (column B). Variation between output represents the use of different Fitbit trackers and individual tracking behaviors/preferences.

In [86]:
!pip install pandas_profiling

Requirement already satisfied: pandas_profiling in /usr/local/lib/python3.10/dist-packages (3.6.6)
Requirement already satisfied: ydata-profiling in /usr/local/lib/python3.10/dist-packages (from pandas_profiling) (4.7.0)
Requirement already satisfied: scipy<1.12,>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (1.11.4)
Requirement already satisfied: pandas!=1.4.0,<3,>1.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (2.2.1)
Requirement already satisfied: matplotlib<3.9,>=3.2 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (3.7.1)
Requirement already satisfied: pydantic>=2 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (2.6.3)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (6.0.1)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (3.1.3)
Requirement already satisfied: visions[type_image_path]<0.7.7,>=0.7.5 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (0.7.6)
Requirement already satisfied: numpy<2,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (1.25.2)
Requirement already satisfied: htmlmin==0.1.12 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (0.12.4)
Requirement already satisfied: requests<3,>=2.24.0 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (2.31.0)
Requirement already satisfied: tqdm<5,>=4.48.2 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (4.66.2)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (0.12.2)
Requirement already satisfied: multimethod<2,>=1.4 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (1.11.2)
Requirement already satisfied: statsmodels<1,>=0.13.2 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (0.14.1)
Requirement already satisfied: typeguard<5,>=4.1.2 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (4.2.1)
Requirement already satisfied: imagehash==4.3.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (1.9.3)
Requirement already satisfied: dacite>=1.8 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (1.8.1)
Requirement already satisfied: numba<1,>=0.56.0 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling->pandas_profiling) (0.58.1)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.10/dist-packages (from imagehash==4.3.1->ydata-profiling->pandas_profiling) (1.5.0)
Requirement already satisfied: pillow in /usr/local/lib/python3.10/dist-packages (from imagehash==4.3.1->ydata-profiling->pandas_profiling) (9.4.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2<3.2,>=2.11.1->ydata-profiling->pandas_profiling) (2.1.5)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<3.9,>=3.2->ydata-profiling->pandas_profiling) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib<3.9,>=3.2->ydata-profiling->pandas_profiling) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<3.9,>=3.2->ydata-profiling->pandas_profiling) (4.49.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<3.9,>=3.2->ydata-profiling->pandas_profiling) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<3.9,>=3.2->ydata-profiling->pandas_profiling) (23.2)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<3.9,>=3.2->ydata-profiling->pandas_profiling) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib<3.9,>=3.2->ydata-profiling->pandas_profiling) (2.8.2)
Requirement already satisfied: llvmlite<0.42,>=0.41.0dev0 in /usr/local/lib/python3.10/dist-packages (from numba<1,>=0.56.0->ydata-profiling->pandas_profiling) (0.41.1)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling->pandas_profiling) (2023.4)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling->pandas_profiling) (2024.1)
Requirement already satisfied: joblib>=0.14.1 in /usr/local/lib/python3.10/dist-packages (from phik<0.13,>=0.11.1->ydata-profiling->pandas_profiling) (1.3.2)
Requirement already satisfied: annotated-types>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from pydantic>=2->ydata-profiling->pandas_profiling) (0.6.0)
Requirement already satisfied: pydantic-core==2.16.3 in /usr/local/lib/python3.10/dist-packages (from pydantic>=2->ydata-profiling->pandas_profiling) (2.16.3)
Requirement already satisfied: typing-extensions>=4.6.1 in /usr/local/lib/python3.10/dist-packages (from pydantic>=2->ydata-profiling->pandas_profiling) (4.10.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.24.0->ydata-profiling->pandas_profiling) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.24.0->ydata-profiling->pandas_profiling) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.24.0->ydata-profiling->pandas_profiling) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.24.0->ydata-profiling->pandas_profiling) (2024.2.2)
Requirement already satisfied: patsy>=0.5.4 in /usr/local/lib/python3.10/dist-packages (from statsmodels<1,>=0.13.2->ydata-profiling->pandas_profiling) (0.5.6)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.10/dist-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling->pandas_profiling) (23.2.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.10/dist-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling->pandas_profiling) (3.2.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.4->statsmodels<1,>=0.13.2->ydata-profiling->pandas_profiling) (1.16.0)

* Importing the librariers

In [87]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

* Loading the Daily Datasets

In [88]:
daily_activity = pd.read_csv("/content/dailyActivity_merged.csv")
daily_calories = pd.read_csv("/content/dailyCalories_merged.csv")
daily_intensities = pd.read_csv("/content/dailyIntensities_merged.csv")
daily_steps = pd.read_csv("/content/dailySteps_merged.csv")

* Loading the hourly Datasets

In [89]:
hourly_calories = pd.read_csv("/content/hourlyCalories_merged.csv")
hourly_steps = pd.read_csv("/content/hourlySteps_merged.csv")
hourly_intensities = pd.read_csv("/content/hourlyIntensities_merged.csv")

* Loading the minutes Datasets

In [90]:
minutes_calories = pd.read_csv("/content/minuteCaloriesNarrow_merged.csv")
minutes_intensities = pd.read_csv("/content/minuteIntensitiesNarrow_merged.csv")
minutes_steps = pd.read_csv("/content/minuteStepsNarrow_merged.csv")
minutes_mets = pd.read_csv("/content/minuteMETsNarrow_merged.csv")
minutes_sleep = pd.read_csv("/content/minuteSleep_merged.csv")

* Loading Other Datasets

In [91]:
sleep_day = pd.read_csv("/content/sleepDay_merged.csv")
weight_log = pd.read_csv("/content/weightLogInfo_merged.csv")
heart_rate = pd.read_csv("/content/heartrate_seconds_merged.csv")

* Creating The Copies

In [92]:
# Daily Datasets
da = daily_activity.copy()
dc = daily_calories.copy()
di = daily_intensities.copy()
ds = daily_steps.copy()

# Hourly Datasets
hc = hourly_calories.copy()
hi = hourly_intensities.copy()
hs = hourly_steps.copy()

# Minutes Datasets
mc = minutes_calories.copy()
mi = minutes_intensities.copy()
mst = minutes_steps.copy()
mm = minutes_mets.copy()
msl = minutes_sleep.copy()

# Other Datasets
sd = sleep_day.copy()
wl = weight_log.copy()
hr = heart_rate.copy()

# *Data Cleaning*

* Getting the 5 datasets of Daily Datasets

In [93]:
print(da.head())
print(dc.head())
print(di.head())
print(ds.head())

           Id ActivityDate  TotalSteps  TotalDistance  TrackerDistance  \
0  1503960366    4/12/2016       13162           8.50             8.50
1  1503960366    4/13/2016       10735           6.97             6.97
2  1503960366    4/14/2016       10460           6.74             6.74
3  1503960366    4/15/2016        9762           6.28             6.28
4  1503960366    4/16/2016       12669           8.16             8.16

   LoggedActivitiesDistance  VeryActiveDistance  ModeratelyActiveDistance  \
0                       0.0                1.88                      0.55
1                       0.0                1.57                      0.69
2                       0.0                2.44                      0.40
3                       0.0                2.14                      1.26
4                       0.0                2.71                      0.41

   LightActiveDistance  SedentaryActiveDistance  VeryActiveMinutes  \
0                 6.06                      0.0                 25
1                 4.71                      0.0                 21
2                 3.91                      0.0                 30
3                 2.83                      0.0                 29
4                 5.04                      0.0                 36

   FairlyActiveMinutes  LightlyActiveMinutes  SedentaryMinutes  Calories
0                   13                   328               728      1985
1                   19                   217               776      1797
2                   11                   181              1218      1776
3                   34                   209               726      1745
4                   10                   221               773      1863
           Id ActivityDay  Calories
0  1503960366   4/12/2016      1985
1  1503960366   4/13/2016      1797
2  1503960366   4/14/2016      1776
3  1503960366   4/15/2016      1745
4  1503960366   4/16/2016      1863
           Id ActivityDay  SedentaryMinutes  LightlyActiveMinutes  \
0  1503960366   4/12/2016               728                   328
1  1503960366   4/13/2016               776                   217
2  1503960366   4/14/2016              1218                   181
3  1503960366   4/15/2016               726                   209
4  1503960366   4/16/2016               773                   221

   FairlyActiveMinutes  VeryActiveMinutes  SedentaryActiveDistance  \
0                   13                 25                      0.0
1                   19                 21                      0.0
2                   11                 30                      0.0
3                   34                 29                      0.0
4                   10                 36                      0.0

   LightActiveDistance  ModeratelyActiveDistance  VeryActiveDistance
0                 6.06                      0.55                1.88
1                 4.71                      0.69                1.57
2                 3.91                      0.40                2.44
3                 2.83                      1.26                2.14
4                 5.04                      0.41                2.71
           Id ActivityDay  StepTotal
0  1503960366   4/12/2016      13162
1  1503960366   4/13/2016      10735
2  1503960366   4/14/2016      10460
3  1503960366   4/15/2016       9762
4  1503960366   4/16/2016      12669

* Getting Information about Daily Datasets

In [94]:
print(da.info())
print(dc.info())
print(di.info())
print(ds.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        940 non-null    int64
 1   ActivityDate              940 non-null    object
 2   TotalSteps                940 non-null    int64
 3   TotalDistance             940 non-null    float64
 4   TrackerDistance           940 non-null    float64
 5   LoggedActivitiesDistance  940 non-null    float64
 6   VeryActiveDistance        940 non-null    float64
 7   ModeratelyActiveDistance  940 non-null    float64
 8   LightActiveDistance       940 non-null    float64
 9   SedentaryActiveDistance   940 non-null    float64
 10  VeryActiveMinutes         940 non-null    int64
 11  FairlyActiveMinutes       940 non-null    int64
 12  LightlyActiveMinutes      940 non-null    int64
 13  SedentaryMinutes          940 non-null    int64
 14  Calories                  940 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 110.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           940 non-null    int64
 1   ActivityDay  940 non-null    object
 2   Calories     940 non-null    int64
dtypes: int64(2), object(1)
memory usage: 22.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        940 non-null    int64
 1   ActivityDay               940 non-null    object
 2   SedentaryMinutes          940 non-null    int64
 3   LightlyActiveMinutes      940 non-null    int64
 4   FairlyActiveMinutes       940 non-null    int64
 5   VeryActiveMinutes         940 non-null    int64
 6   SedentaryActiveDistance   940 non-null    float64
 7   LightActiveDistance       940 non-null    float64
 8   ModeratelyActiveDistance  940 non-null    float64
 9   VeryActiveDistance        940 non-null    float64
dtypes: float64(4), int64(5), object(1)
memory usage: 73.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           940 non-null    int64
 1   ActivityDay  940 non-null    object
 2   StepTotal    940 non-null    int64
dtypes: int64(2), object(1)
memory usage: 22.2+ KB
None

* As their are no null values,so we can convert neccessary columns to 'datetime' type

In [95]:
da['ActivityDate'] = pd.to_datetime(da['ActivityDate'])
dc['ActivityDay'] = pd.to_datetime(dc['ActivityDay'])
di['ActivityDay'] = pd.to_datetime(di['ActivityDay'])
ds['ActivityDay'] = pd.to_datetime(ds['ActivityDay'])

* Merging the three daily-datasets based on 'ActivityDay' and 'Id'

In [96]:
merged_daily = pd.merge(di,dc,on = ['ActivityDay','Id'])
merged_daily = pd.merge(merged_daily, ds, on=['ActivityDay', 'Id'])
merged_daily = pd.merge(merged_daily, da[['Id', 'TotalDistance', 'TrackerDistance', 'LoggedActivitiesDistance']], on='Id', how='left')
merged_daily.head()

,Id,ActivityDay,SedentaryMinutes,LightlyActiveMinutes,FairlyActiveMinutes,VeryActiveMinutes,SedentaryActiveDistance,LightActiveDistance,ModeratelyActiveDistance,VeryActiveDistance,Calories,StepTotal,TotalDistance,TrackerDistance,LoggedActivitiesDistance
0,1503960366,2016-04-12,728,328,13,25,0.0,6.06,0.55,1.88,1985,13162,8.50,8.50,0.0
1,1503960366,2016-04-12,728,328,13,25,0.0,6.06,0.55,1.88,1985,13162,6.97,6.97,0.0
2,1503960366,2016-04-12,728,328,13,25,0.0,6.06,0.55,1.88,1985,13162,6.74,6.74,0.0
3,1503960366,2016-04-12,728,328,13,25,0.0,6.06,0.55,1.88,1985,13162,6.28,6.28,0.0
4,1503960366,2016-04-12,728,328,13,25,0.0,6.06,0.55,1.88,1985,13162,8.16,8.16,0.0

* Removing duplicate rows from the merged daily dataset

In [97]:
merged_daily = merged_daily.drop_duplicates()

* Getting Info About The Daily Dataset

In [98]:
merged_daily.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25382 entries, 0 to 27799
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        25382 non-null  int64
 1   ActivityDay               25382 non-null  datetime64[ns]
 2   SedentaryMinutes          25382 non-null  int64
 3   LightlyActiveMinutes      25382 non-null  int64
 4   FairlyActiveMinutes       25382 non-null  int64
 5   VeryActiveMinutes         25382 non-null  int64
 6   SedentaryActiveDistance   25382 non-null  float64
 7   LightActiveDistance       25382 non-null  float64
 8   ModeratelyActiveDistance  25382 non-null  float64
 9   VeryActiveDistance        25382 non-null  float64
 10  Calories                  25382 non-null  int64
 11  StepTotal                 25382 non-null  int64
 12  TotalDistance             25382 non-null  float64
 13  TrackerDistance           25382 non-null  float64
 14  LoggedActivitiesDistance  25382 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(7)
memory usage: 3.1 MB

* Getting the 5 Datasets from Hourly Datasets

In [99]:
print(hi.head())
print(hc.head())
print(hs.head())

           Id           ActivityHour  TotalIntensity  AverageIntensity
0  1503960366  4/12/2016 12:00:00 AM              20          0.333333
1  1503960366   4/12/2016 1:00:00 AM               8          0.133333
2  1503960366   4/12/2016 2:00:00 AM               7          0.116667
3  1503960366   4/12/2016 3:00:00 AM               0          0.000000
4  1503960366   4/12/2016 4:00:00 AM               0          0.000000
           Id           ActivityHour  Calories
0  1503960366  4/12/2016 12:00:00 AM        81
1  1503960366   4/12/2016 1:00:00 AM        61
2  1503960366   4/12/2016 2:00:00 AM        59
3  1503960366   4/12/2016 3:00:00 AM        47
4  1503960366   4/12/2016 4:00:00 AM        48
           Id           ActivityHour  StepTotal
0  1503960366  4/12/2016 12:00:00 AM        373
1  1503960366   4/12/2016 1:00:00 AM        160
2  1503960366   4/12/2016 2:00:00 AM        151
3  1503960366   4/12/2016 3:00:00 AM          0
4  1503960366   4/12/2016 4:00:00 AM          0

* Converting neccessary columns to 'datetime' type

In [100]:
hi['ActivityHour'] = pd.to_datetime(hi['ActivityHour'])
hc['ActivityHour'] = pd.to_datetime(hc['ActivityHour'])
hs['ActivityHour'] = pd.to_datetime(hs['ActivityHour'])

<ipython-input-100-09d65693fd8d>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  hi['ActivityHour'] = pd.to_datetime(hi['ActivityHour'])
<ipython-input-100-09d65693fd8d>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  hc['ActivityHour'] = pd.to_datetime(hc['ActivityHour'])
<ipython-input-100-09d65693fd8d>:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  hs['ActivityHour'] = pd.to_datetime(hs['ActivityHour'])

* Merging the three Hourly-datasets based on 'Id' and 'ActivityHour'

In [101]:
merged_hourly = pd.merge(hi,hc, on =['Id','ActivityHour'],how ='left')
merged_hourly = pd.merge(merged_hourly,hs, on = ['Id','ActivityHour'],how ='left')

* Getting The 5 Datasets of Merged Hourly Datasets

In [102]:
merged_hourly.head()

,Id,ActivityHour,TotalIntensity,AverageIntensity,Calories,StepTotal
0,1503960366,2016-04-12 00:00:00,20,0.333333,81,373
1,1503960366,2016-04-12 01:00:00,8,0.133333,61,160
2,1503960366,2016-04-12 02:00:00,7,0.116667,59,151
3,1503960366,2016-04-12 03:00:00,0,0.000000,47,0
4,1503960366,2016-04-12 04:00:00,0,0.000000,48,0

* Dropping The duplicate Values If any

In [103]:
merged_hourly.drop_duplicates()

,Id,ActivityHour,TotalIntensity,AverageIntensity,Calories,StepTotal
0,1503960366,2016-04-12 00:00:00,20,0.333333,81,373
1,1503960366,2016-04-12 01:00:00,8,0.133333,61,160
2,1503960366,2016-04-12 02:00:00,7,0.116667,59,151
3,1503960366,2016-04-12 03:00:00,0,0.000000,47,0
4,1503960366,2016-04-12 04:00:00,0,0.000000,48,0
...,...,...,...,...,...,...
22094,8877689391,2016-05-12 10:00:00,12,0.200000,126,514
22095,8877689391,2016-05-12 11:00:00,29,0.483333,192,1407
22096,8877689391,2016-05-12 12:00:00,93,1.550000,321,3135
22097,8877689391,2016-05-12 13:00:00,6,0.100000,101,307
22098,8877689391,2016-05-12 14:00:00,9,0.150000,113,457

* Getting the Info of merged hourly data

In [104]:
merged_hourly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22099 entries, 0 to 22098
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                22099 non-null  int64
 1   ActivityHour      22099 non-null  datetime64[ns]
 2   TotalIntensity    22099 non-null  int64
 3   AverageIntensity  22099 non-null  float64
 4   Calories          22099 non-null  int64
 5   StepTotal         22099 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(4)
memory usage: 1.0 MB

* Getting the 5 Datasets Of minutes datasets

In [105]:
print(mc.head())
print(mi.head())
print(mst.head())
print(mm.head())
print(msl.head())

           Id         ActivityMinute  Calories
0  1503960366  4/12/2016 12:00:00 AM    0.7865
1  1503960366  4/12/2016 12:01:00 AM    0.7865
2  1503960366  4/12/2016 12:02:00 AM    0.7865
3  1503960366  4/12/2016 12:03:00 AM    0.7865
4  1503960366  4/12/2016 12:04:00 AM    0.7865
           Id         ActivityMinute  Intensity
0  1503960366  4/12/2016 12:00:00 AM          0
1  1503960366  4/12/2016 12:01:00 AM          0
2  1503960366  4/12/2016 12:02:00 AM          0
3  1503960366  4/12/2016 12:03:00 AM          0
4  1503960366  4/12/2016 12:04:00 AM          0
           Id         ActivityMinute  Steps
0  1503960366  4/12/2016 12:00:00 AM      0
1  1503960366  4/12/2016 12:01:00 AM      0
2  1503960366  4/12/2016 12:02:00 AM      0
3  1503960366  4/12/2016 12:03:00 AM      0
4  1503960366  4/12/2016 12:04:00 AM      0
           Id         ActivityMinute  METs
0  1503960366  4/12/2016 12:00:00 AM    10
1  1503960366  4/12/2016 12:01:00 AM    10
2  1503960366  4/12/2016 12:02:00 AM    10
3  1503960366  4/12/2016 12:03:00 AM    10
4  1503960366  4/12/2016 12:04:00 AM    10
           Id                  date  value        logId
0  1503960366  4/12/2016 2:47:30 AM      3  11380564589
1  1503960366  4/12/2016 2:48:30 AM      2  11380564589
2  1503960366  4/12/2016 2:49:30 AM      1  11380564589
3  1503960366  4/12/2016 2:50:30 AM      1  11380564589
4  1503960366  4/12/2016 2:51:30 AM      1  11380564589

* Converting the necessary columns in 'datetime' type

In [106]:
mi['ActivityMinute'] = pd.to_datetime(mi['ActivityMinute'])
mm['ActivityMinute'] = pd.to_datetime(mm['ActivityMinute'])
mst['ActivityMinute'] = pd.to_datetime(mst['ActivityMinute'])
mc['ActivityMinute'] = pd.to_datetime(mc['ActivityMinute'])
msl['date'] = pd.to_datetime(msl['date'])

<ipython-input-106-16ea0dce96c2>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  mi['ActivityMinute'] = pd.to_datetime(mi['ActivityMinute'])
<ipython-input-106-16ea0dce96c2>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  mm['ActivityMinute'] = pd.to_datetime(mm['ActivityMinute'])
<ipython-input-106-16ea0dce96c2>:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  mst['ActivityMinute'] = pd.to_datetime(mst['ActivityMinute'])
<ipython-input-106-16ea0dce96c2>:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  mc['ActivityMinute'] = pd.to_datetime(mc['ActivityMinute'])

* Merging the Minute-datasets based on 'Id' and 'ActivityMinute'

In [107]:
merged_minute = pd.merge(mi, mm, on=['Id', 'ActivityMinute'], how='left')
merged_minute = pd.merge(merged_minute, mst, on=['Id', 'ActivityMinute'], how='left')
merged_minute = pd.merge(merged_minute, mc, on=['Id', 'ActivityMinute'], how='left')

* Getting the info of minute dataset with 5 datasets

In [108]:
merged_minute.info()
print(merged_minute.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325580 entries, 0 to 1325579
Data columns (total 6 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1325580 non-null  int64
 1   ActivityMinute  1325580 non-null  datetime64[ns]
 2   Intensity       1325580 non-null  int64
 3   METs            1325580 non-null  int64
 4   Steps           1325580 non-null  int64
 5   Calories        1325580 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(4)
memory usage: 60.7 MB
           Id      ActivityMinute  Intensity  METs  Steps  Calories
0  1503960366 2016-04-12 00:00:00          0    10      0    0.7865
1  1503960366 2016-04-12 00:01:00          0    10      0    0.7865
2  1503960366 2016-04-12 00:02:00          0    10      0    0.7865
3  1503960366 2016-04-12 00:03:00          0    10      0    0.7865
4  1503960366 2016-04-12 00:04:00          0    10      0    0.7865

* Getting the 5 Datasets of Other Datasets

In [109]:
print(sd.head())

           Id               SleepDay  TotalSleepRecords  TotalMinutesAsleep  \
0  1503960366  4/12/2016 12:00:00 AM                  1                 327
1  1503960366  4/13/2016 12:00:00 AM                  2                 384
2  1503960366  4/15/2016 12:00:00 AM                  1                 412
3  1503960366  4/16/2016 12:00:00 AM                  2                 340
4  1503960366  4/17/2016 12:00:00 AM                  1                 700

   TotalTimeInBed
0             346
1             407
2             442
3             367
4             712

In [110]:
print(wl.head())

           Id                   Date    WeightKg  WeightPounds   Fat  \
0  1503960366   5/2/2016 11:59:59 PM   52.599998    115.963147  22.0
1  1503960366   5/3/2016 11:59:59 PM   52.599998    115.963147   NaN
2  1927972279   4/13/2016 1:08:52 AM  133.500000    294.317120   NaN
3  2873212765  4/21/2016 11:59:59 PM   56.700001    125.002104   NaN
4  2873212765  5/12/2016 11:59:59 PM   57.299999    126.324875   NaN

         BMI  IsManualReport          LogId
0  22.650000            True  1462233599000
1  22.650000            True  1462319999000
2  47.540001           False  1460509732000
3  21.450001            True  1461283199000
4  21.690001            True  1463097599000

In [111]:
print(hr.head())

           Id                  Time  Value
0  2022484408  4/12/2016 7:21:00 AM     97
1  2022484408  4/12/2016 7:21:05 AM    102
2  2022484408  4/12/2016 7:21:10 AM    105
3  2022484408  4/12/2016 7:21:20 AM    103
4  2022484408  4/12/2016 7:21:25 AM    101

* Converting neccessary columns to 'datetime' type

In [112]:
wl['Date'] = pd.to_datetime(wl['Date'])
hr['Time'] = pd.to_datetime(hr['Time'])
sd['SleepDay'] = pd.to_datetime(sd['SleepDay'])

<ipython-input-112-81b8bcd384c3>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  wl['Date'] = pd.to_datetime(wl['Date'])
<ipython-input-112-81b8bcd384c3>:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  sd['SleepDay'] = pd.to_datetime(sd['SleepDay'])

* Getting the info about the other datasets

In [ ]:
wl.info()

In [114]:
hr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2483658 entries, 0 to 2483657
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   Id      int64
 1   Time    datetime64[ns]
 2   Value   int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 56.8 MB

In [115]:
sd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  413 non-null    int64
 1   SleepDay            413 non-null    datetime64[ns]
 2   TotalSleepRecords   413 non-null    int64
 3   TotalMinutesAsleep  413 non-null    int64
 4   TotalTimeInBed      413 non-null    int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 16.3 KB



---

# **Final datasets obtained**



* merged_daily : Containing all daily data
* merged_hourly : Containing all hourly data
* merged_minute : Containing all minute data
* hr : Containing Heart Rate data
* wl : Containing Weight Log data
* sd : Containing Sleep Day data
* msl : Containing Sleep Day data for minutes



---

# **Importing the Datasets for visulization**

In [ ]:
import os
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Creating a file paths by joining the directory path and file name
file_path = os.path.join('/content/drive/MyDrive', 'merged_daily.csv')
file_path_1 = os.path.join('/content/drive/MyDrive', 'merged_hourly.csv')
file_path_2 = os.path.join('/content/drive/MyDrive', 'merged_minute.csv')
file_path_3 = os.path.join('/content/drive/MyDrive', 'hr.csv')
file_path_4 = os.path.join('/content/drive/MyDrive', 'wl.csv')
file_path_5 = os.path.join('/content/drive/MyDrive', 'sd.csv')
file_path_6 = os.path.join('/content/drive/MyDrive', 'msl.csv')

# Save the DataFrames to the files
merged_daily.to_csv(file_path, index=False)
merged_hourly.to_csv(file_path_1, index=False)
merged_minute.to_csv(file_path_2, index=False)
hr.to_csv(file_path_3, index=False)
wl.to_csv(file_path_4, index=False)
sd.to_csv(file_path_5, index=False)
msl.to_csv(file_path_6, index=False)



---